main {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Chat Page Styles */

.chat-page {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

/* Chat Header Styles */

.chat-header {
    position: sticky;
    top: 0;
    z-index: 50;
    color: #fff;
    padding: 10px;
    display: flex;
    align-items: center;
    /* background-color: #F2F2F2;
border-radius: 10px;
margin-bottom: 2px; */
}

.profile-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.profile-info {
    flex-grow: 1;
}

.profile-info h2,
.profile-info p {
    margin: 0;
    font-size: 16px;
}

.date-time {
    font-size: 12px;
}

/* Chat Content Styles */

.chat-content {
    flex-grow: 1;
    overflow-y: auto;
    padding: 10px;
    max-width: 800px;
    max-height: 500px;
    background-color: #f2f2f2;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Scrollbar Customization */

.chat-content::-webkit-scrollbar {
    width: 6px;
}

.chat-content::-webkit-scrollbar-thumb {
    background-color: #B9BABA;
    border-radius: 6px;
}

.chat-content::-webkit-scrollbar-track {
    background-color: #f5f5f5;
}

/* Message Styles */

.message {
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 10px;
    max-width: 70%;
    max-width: 800px;
    word-wrap: break-word;
}

.received {
    background-color: #2F2F2F;
    align-self: flex-start;
    font-size: 1rem;
    color: white;
}

.received p {
    color: white;
}

.message-time {
    font-size: 12px;
    color: #888;
}

.message-input {
    display: flex;
    padding: 10px;
    background-color: #fff;
    border-top: 1px solid #ddd;
}

/* Message Input Styles */

.message-input {
    display: flex;
    padding: 10px;
    background-color: #fff;
    border-top: 1px solid #ddd;
}

textarea {
    flex-grow: 1;
    resize: vertical;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
    max-height: 200px;
    overflow-y: auto;
}

/* Textarea Scrollbar Customization */

textarea::-webkit-scrollbar {
    width: 6px;
}

textarea::-webkit-scrollbar-thumb {
    background-color: #B9BABA;
    border-radius: 6px;
}

textarea::-webkit-scrollbar-track {
    background-color: #f5f5f5;
}

/* Button Styles */

button {
    padding: 8px;
    margin-left: 10px;
    cursor: pointer;
    background-color: #4285f4;
    color: #fff;
    border: none;
    border-radius: 5px;
}

button:hover {
    background: #2980b9;
}

/* Back Icon Styles */

.back-icon {
    font-size: 24px;
    color: #000;
    margin-right: 10px;
    cursor: pointer;
}

/* Modal Styles */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 50px;
    left: 0;
    top: 0;
    align-items: center;
    justify-content: center;
    overflow: auto;
}

.modal-content {
    margin: auto;
    margin-top: 150px;
}

.modal img {
    width: 400px;
    height: auto;
    cursor: pointer;
    transition: transform 0.3s ease;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal img:hover {
    transform: scale(1.1);
}

.close {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}

.download-link {
    display: block;
    margin-top: 10px;
    text-align: center;
    color: black;
    text-decoration: none;
    cursor: pointer;
    background-color: #DEDFE2;
}

.message img {
    width: 250px;
    height: 250px;
    cursor: pointer;
}

.sent {
    background-color: #00A67D;
    align-self: flex-end;
    font-size: 1rem;
}

.video {
    background-color: #638BFE;
    align-self: flex-end;
    font-size: 1rem;

}

.sent .message-time,
.video .message-time {
    color: white
}

.sent p,
a,
.video p,
a {
    color: white;
}

video {
    height: 400px;
}

/* Responsive Styles */

@media (max-width: 600px) {
    .chat-page {
        padding: 0 10px;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 20px;
    }

    .chat-content {
        max-height: 90vh;
    }

    .modal img {
        width: 100%;
        height: auto;
        max-width: 100%;
        max-height: 100%;
        cursor: pointer;
        transition: transform 0.3s ease;
        margin: auto;
        margin-top: 10%;
    }
}

main.cd__main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    min-width: 1200px;
}

.additional-details {
    margin-top: 20px;
    background-color: #F2F2F2;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 40px;
    /* Adjust the width as needed */
    max-width: 800px;
    /* Set a minimum width */
}

form#solutionForm {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 20px;
}

label {
    font-size: 16px;
    margin-bottom: 8px;
    color: #333;
}

textarea,
input[type="text"],
input[type="file"] {
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

textarea {
    resize: vertical;
    max-height: 200px;
    overflow-y: auto;
}

button.edit-details-button {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 12px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s ease;
}

button.edit-details-button:hover {
    background: #2980b9;
}

@media (max-width: 600px) {

    .additional-details {

        /* Adjust the width as needed */
        max-width: 400px;
        /* Set a minimum width */
    }
}

.icons {
    display: flex;
    align-items: center;
}


.close-icon,
.right-icon {
    font-size: 20px;
    margin-left: 10px;
    cursor: pointer;
    color: #fff;
    border-radius: 50%;
    padding: 5px 8px;
}

.close-icon {
    background-color: red;
    padding: 5px 10px;

}

.right-icon {
    background-color: green;
}

p {
    font-size: 1rem;

}

.add-note-button {
    margin-left: auto;
    /* Pushes the add button to the right */
    padding: 5px;
    border: none;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;

}

.add-note-button svg {
    width: 24px;
    height: 24px;
    fill: red;

}

.add-note-button:hover {
    background-color: #f5f5f5;
}


.new-note-card {
    width: auto;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
}

.note-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.new-note-content {
    border: none;
    width: 100%;
    height: 200px;
    padding: 10px;
    background-image: repeating-linear-gradient(180deg, transparent, transparent 2px, #F1F1F1 2px, #F1F1F1 8px);
    font-family: Arial, sans-serif;
    font-size: 16px;
    resize: none;
}

.note-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.doubt {
    margin-top: 10px;
    width: auto;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
}