.videocall {
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: auto;
    margin-top:20px;
    margin-bottom:20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: auto;

}

.form-container h2 {
    margin-bottom: 20px;
    color: #333;
}

label {
    display: block;
    margin-bottom: 10px;
    color: #555;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    color: #333;
    font-size: 20px;
}

button {
    background-color: #4285f4;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #357ae8;
}

.call-links {
    max-height: 400px;
    overflow-y: scroll;


}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 20px;
}

th,
td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
    font-size: 15px;
}

td {
    background-color: #F9F9F9;
    overflow: hidden;

}

th {
    background-color: #FFFFFF;
    color: black;

}

.copy-btn {
    padding: 8px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 5px;
    float: inline-end;
}

@media (max-width: 990px) {
    .videocall {
        flex-direction: column;
        margin: auto 10px;
    }

    .form-container {
        margin-bottom: 20px;
    }
    th,tr{
        min-width: 100px;
    }

}


.call-links button:hover {
    background-color: #357ae8;
}

.call-links::-webkit-scrollbar {
    width: 8px;
    /* Set the width of the scrollbar */
}

.call-links::-webkit-scrollbar-thumb {
    background-color: #B9BABA;
    /* Set the color of the scrollbar thumb */
    border-radius: 6px;
    /* Set the border radius of the scrollbar thumb */
}

.call-links::-webkit-scrollbar-track {
    background-color: #f5f5f5;
    /* Set the color of the scrollbar track */
}